
.env
.env.*.local

/vendor
/node_modules

/storage/*
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views
!/storage/logs
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/public/vite.svg

*.log
/storage/*.key
/.phpunit.result.cache
/.phpunit.cache
/coverage
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpactor.json
/auth.json

